<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    {% load static %}
	<link rel="stylesheet" href="{% static '/css/styles.css' %}">
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>

<div class="container">
    <ul class="nav bg-info">
        <li class="nav-item">
            <a class="nav-link link-light" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link link-light" href="{% url 'churrasco' %}">Planejar Churrasco</a>
        </li>

        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link link-light" href="{% url 'topics' %}">Topicos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="{% url 'logout' %}">Sair</a>
            </li>
            <li>
                Olá, {{ user.username }}
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link link-light" href="{% url 'login' %}">Entrar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="{% url 'register' %}">Registrar</a>
            </li>
        {% endif %}
    </ul>

    {% block content %}
    {% endblock %}
</div>
</body>

<footer>
    <h6>MasterTech/IBM - MPXDS Informática - Set/2023</h6>
</footer>

</html>