{% extends "mp_churrascos/base.html" %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    {% block content %}
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis, 
            consequatur. Soluta fugiat ut doloribus voluptates natus cum cumque molestias molestiae, non dolorum similique deserunt expedita porro doloremque sint nobis commodi.</p>
    {% endblock content %}
</body>
</html>